@font-face {
    font-family: 'RubikRegular';
    src: local('Rubik-Regular'),
      url('../assets/fonts/Rubik-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'RubikSemiBold';
    src: local('Rubik-SemiBold'),
      url('../assets/fonts/Rubik-SemiBold.ttf') format('opentype');
}

@font-face {
  font-family: 'SansRegular';
  src: local('OpenSans-Regular'),
    url('../assets/fonts/OpenSans-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'SansSemiBold';
  src: local('OpenSane-SemiBold'),
    url('../assets/fonts/OpenSans-SemiBold.ttf') format('opentype');
}